
body {
  background-color: grey;
  font-family: 'MK 1', sans-serif;
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 65px;
  color: yellow;
  text-shadow: 4px 4px darkred;
  margin: 20px auto;
}

h3 {
  margin-top: -30px;
  color: red;
  text-shadow: 2px 2px black;
}

h4 {
  margin-top: 5px;
  color: yellow;
  text-shadow: 2px 2px black;
}

h1, h3, h4 {
  text-align: center;
  text-transform: uppercase;
}

h3, h4 {
  font-size: 24px;
}

.bar {
  width: 36px;
  height: 0px;
  background-color: yellow;
  max-height: 246px;
  margin: 2px;
  /*margin: -80px 20px;*/
}

.outer-bar {
  width: 40px;
  height: 250px;
  max-height: 250px;
  margin: -80px 10px;
}

.to-gain-bar, .excess-bar {
  border: 2px solid white;
}

.to-gain-bar {
  width: 40px;
  height: 200px;
  margin: 2px 2px 0 2px;
  border-bottom: 0px;
}

.excess-bar {
  width: 40px;
  height: 46px;
  margin: 0 2px 2px 2px;
  border-top: 2px solid red;
}

.hero-box {
  /*border: 1px solid pink;*/
  margin: -30px 0px;
  width: 200px;
}

.sprite {
  width: 170px;
  height: 220px;
  /*background-color: blue;*/
  margin: 0 auto;
}

.material {
  width: 200px;
  height: 100px;
  /*background-color: green;*/
  background: url(../images/1whole.png) no-repeat top center;
  background-size: 80%;
  margin: 0 auto;
}

.onebreathe {
  animation: breatheOne 0.5s steps(1) infinite alternate;
}

.twobreathe {
  animation: breatheTwo 0.4s steps(1) infinite alternate;
}

.onechop {
  animation: chopOne 0.6s steps(1);
  animation-fill-mode: forwards;
}

.twochop {
  animation: chopTwo 0.6s steps(1);
  animation-fill-mode: forwards;
}

.h1-blink {
  animation: blink 0.1s steps(1) infinite alternate;
}

#outer-player-1{
  float: left;
}

#outer-player-2{
  float: right;
}

#hero-player-1 {
  float: left;
  background: url(../images/1breathe1.gif) no-repeat top center;
  background-size: 100%;
}

#hero-player-2 {
  float: right;
  background: url(../images/2breathe1.gif) no-repeat top center;
  background-size: 100%;
}

#main-text-field {
}

#game-field {
  height: 448px;
  width: 640px;
  border: 5px solid red;
  background-color: black;
  margin: 100px auto;
  box-shadow: 10px 10px 20px black;
  background-image: url('../images/arena.jpg');
}

#shade {
  position: relative;
  margin: -553px auto;
  height: 448px;
  width: 640px;
  background-color: black;
  opacity: 0;
  z-index: 10;
}

.fade {
  animation: fadeblack 1.5s linear;
  animation-fill-mode: forwards;
}

@font-face {
  font-family: 'MK 1';
  src: url('../assets/mk1.ttf') format('truetype');

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@keyframes breatheOne {
  0% {
    background-image: url('../images/1breathe1.gif');
  }
  33% {
    background-image: url('../images/1breathe2.gif');
  }
  66% {
    background-image: url('../images/1breathe3.gif');
  }
  100% {
    background-image: url('../images/1breathe3.gif');
  }
}

@keyframes breatheTwo {
  0% {
    background-image: url('../images/2breathe1.gif');
  }
  33% {
    background-image: url('../images/2breathe2.gif');
  }
  66% {
    background-image: url('../images/2breathe3.gif');
  }
  100% {
    background-image: url('../images/2breathe3.gif');
  }
}

@keyframes chopOne {
  0% {
    background-image: url('../images/1chop1.gif');
  }
  90% {
    background-image: url('../images/1chop2.gif');
  }
  100% {
    background-image: url('../images/1chop3.gif');
  }
}

@keyframes chopTwo {
  0% {
    background-image: url('../images/2chop1.gif');
  }
  90% {
    background-image: url('../images/2chop2.gif');
  }
  100% {
    background-image: url('../images/2chop3.gif');
  }
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

@keyframes fadeblack {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*Placeholders*/

#placeholder1 { background: url(../images/1breathe1.gif) no-repeat -9999px -9999px }
#placeholder2 { background: url(../images/1breathe2.gif) no-repeat -9999px -9999px }
#placeholder3 { background: url(../images/1breathe3.gif) no-repeat -9999px -9999px }
#placeholder4 { background: url(../images/1chop1.gif) no-repeat -9999px -9999px }
#placeholder5 { background: url(../images/1chop2.gif) no-repeat -9999px -9999px }
#placeholder6 { background: url(../images/1chop3.gif) no-repeat -9999px -9999px }
#placeholder7 { background: url(../images/1win1.gif) no-repeat -9999px -9999px }
#placeholder8 { background: url(../images/1win2.gif) no-repeat -9999px -9999px }
#placeholder9 { background: url(../images/2breathe1.gif) no-repeat -9999px -9999px }
#placeholder10 { background: url(../images/2breathe2.gif) no-repeat -9999px -9999px }
#placeholder11 { background: url(../images/2breathe3.gif) no-repeat -9999px -9999px }
#placeholder12 { background: url(../images/2chop1.gif) no-repeat -9999px -9999px }
#placeholder13 { background: url(../images/2chop2.gif) no-repeat -9999px -9999px }
#placeholder14 { background: url(../images/2chop3.gif) no-repeat -9999px -9999px }
#placeholder15 { background: url(../images/2win1.gif) no-repeat -9999px -9999px }
#placeholder16 { background: url(../images/2win2.gif) no-repeat -9999px -9999px }
