
body {
  background-color: grey;
}

h1 {
  font-family: 'MK 1', sans-serif;
  font-size: 35pt;
  color: yellow;
  text-shadow: 4px 4px darkred;
  /*display: inline-block;*/
  text-align: center;
  margin: 30px auto;
}

.bar {
  width: 60px;
  height: 250px;
  background-color: yellow;
  max-height: 250px;
  margin: 20px 60px;
}

#bar-player-1 {
  float: left;
}

#bar-player-2 {
  float: right;
}

#main-field {
}

#game-field {
  height: 448px;
  width: 640px;
  border: 5px solid red;
  background-color: black;
  margin: 100px auto;
  box-shadow: 10px 10px 20px black;
  background-image: url('../images/arena.jpg');
}

@font-face {
  font-family: 'MK 1';
  src: url('../assets/mk1.ttf') format('truetype');

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
